.AddPost {
    margin: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    border-radius: 12px;
    padding: 12px;
    background-color: #393f4a;
    color: white;
    display: flex;
    flex-direction: column;
    animation: AddPost-transform  .2s ease-in-out;
}

.AddPost-input, .AddPost-textArea {
    width: calc(100% - 48px);
    margin: 12px 24px 12px 24px;
    resize: none;
}

.AddPost-buttonContainer > * {
    margin: 0 8px 0 0;
}

.AddPost-limitWarning{
    margin: 12px 24px 12px 24px;
    text-align: right;
}


@keyframes AddPost-transform {
    0%{
        transform: scale(.5);
    }
    100%{
        transform: scale(1);
    }
}
