.Button {
    background-color: #008CBA;
    width: 72px;
    height: 48px;
    border-radius: 12px;
    color: white;
    border: none;
}

.Button:focus {
    background-color: #4CAF50;
    text-decoration: none;
    outline: none;
}

.Button-label{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}