.Home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: Home-opacity 0.5s ease-in-out;
}
.Home-posts {
  margin: 0px;
  padding: 0px;
}

@keyframes Home-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Home-Button {
  background-color: #008cba;
  width: 72px;
  margin-bottom: 24px;
  border-radius: 12px;
  color: white;
  border: none;
  text-decoration: none;
  display: inline-block;
}

.Home-Button:focus {
  background-color: #4caf50;
  outline: none;
}

.Home-Button-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
